<%= render 'menus', :lessons => @lessons %>

<div class="span8">
  <h4><%= @lesson.name %></h4>
 
  <div class="well form-actions">
    <%= simple_form_for Practice.new, :url => "/admin/lessons/#{@lesson.id}/practices" do |f| %>
      <input type="text" name="practice[name]" class="span5" />
      <input type="submit" name="submit" value="Create Practice" />
    <% end %>
  </div>


  <div class="row-fluid">
    <h4>Practices</h4>
    <% @lesson.practices.each do |p| %>

      <div class="row-fluid">
        <span class="span9"><%= link_to p.name, "/admin/practices/#{p.id}" %></span>
        <span class="span1">
          <%= link_to 'X', "/admin/practices/#{p.id}", :method => :delete, :confirm => "Remove #{p.name}?" %>
        </span>
      </div>

      <div class="well">
        <%= simple_form_for p, :url => "/admin/practices/#{p.id}" do |f| %>
          <input type="text" name="practice[name]" value="<%= p.name %>" class="span8" />
          <input type="submit" name="submit" value="Edit" />
        <% end %>

        <div class="row-fluid">
          <% p.sentences.each do |s| %>
            <div class="span2">
              <a href="http://www.123teachme.com/spanish_verb_conjugation/<%= s.verb %>" class="black" target="_blank"><%= s.verb %></a>
            </div>
          <% end %>
        </div>
      </div>

    <% end %>
  </div>

  

</div>