<%= render 'top', :practice => @practice %>

<div class="well" style="margin: 100px 0px 0px 0px;">
  <h5><span style="color: red;"><%= @user_practice.error_count %></span> errors, got 
    <span class="number"><%= @user_practice.added_points %></span>
   points</h5>

  <h5>You have <span class="number"><%= @user_practice.points %></span> points now</h5>

  <div style="margin-top: 20px;">
    <button class="btn btn-primary" type="button" onclick="window.location.href = '/practices/<%= @practice.id %>'">Continue</button>
  </div>
</div>