<div class="span8" style="margin: 20px 0px 0px 9px;">
  <h5>
    <%= @practice.lesson.category.name %> / 
    <a href="/lessons/<%= @practice.lesson.id %>"><%= @practice.lesson.name %></a> / 
    <a href="/practices/<%= @practice.id %>"><%= @practice.name %></a>
  </h5>
</div>
