<%= render 'lessons/menus', :lessons => @lessons %>

<div class="row">
  <div class="row-fluid">
    <div class="span8" style="margin: 20px 0px 20px 9px;">
      <h5><%= @practice.lesson.category.name %> / 
          <%= @practice.lesson.name %> / <%= @practice.name %>
          <%= render 'points', :practice => @practice %>
      </h5>
    </div>

    <div class="span8">
      <button class="btn btn-primary" type="button" onclick="javascript: window.location.reload(); window.location.href = '/practices/exam/#/sentences/<%= current_user.get_sentences(@practice).first.id %>'">Start Exercise</button>
    </div>

    <div class="span8" style="margin: 20px 0px 0px 9px;">
      <% @practice.sentences.each do |s| %>
        <p style="margin-left:20px; padding: 5px;">
          <a href="http://conjugador.reverso.net/conjugacion-espanol-verbo-<%= s.verb %>.html" class="black" target="_blank"><%= s.verb %></a></p>
      <% end %>
    </div>

  </div>
</div>