<%= render 'lessons/menu', :lessons => @lessons %>

<div class="row">
  <div class="span8">
    <h5><%= @practice.lesson.category.name %> / 
        <a href="/lessons/<%= @practice.lesson.id %>"><%= @practice.lesson.name %></a> 
        / <%= @practice.name %>
        <%= render 'points', :practice => @practice %>
    </h5>
  </div>

  <div class="span8" style="margin-top: 10px;">
    <% unless @sentence_ids.nil? %>
      <button class="btn btn-primary" type="button" onclick="javascript: window.location.reload(); window.location.href = '/practices/exam/#/sentences/<%= @sentence_ids.first %>'">Start Exercise</button>
    <% end %>
  </div>

  <div class="span8 a-list">
    <% @practice.sentences.each do |s| %>
      <p style="padding: 5px;">
        <a href="http://conjugador.reverso.net/conjugacion-espanol-verbo-<%= s.verb %>.html" class="black" target="_blank"><%= s.verb %></a></p>
    <% end %>
  </div>

</div>