<%= render 'menus', :lessons => @lessons %>

<div class="row">
  <div class="row-fluid">
    <div class="span8" style="margin: 20px 0px 0px 9px;">
      <h4><%= @lesson.category.name %> / <%= @lesson.name %></h4>
    </div>

    <% @practices.each do |p| %>
      <div class="span8">
        <h4>
          <a href="#" onclick="javascript: window.location.reload(); window.location.href = '/#/sentences/<%= current_user.get_practice_sentences(p).first.id %>'"><%= p.name %></a>
        </h4>
      </div>
    <% end %>

  </div>
</div>