<%= render 'menus', :lessons => @lessons %>

<div class="row">
  <div class="row-fluid">
    <div class="span8" style="margin: 20px 0px 0px 9px;">
      <h4><%= @lesson.category.name %> / <%= @lesson.name %></h4>
    </div>

    <% @practices.each do |p| %>
      <div class="span8">
        <h4>
          <% if p.exam_sentences.blank? %>
            <a href="#"><%= p.name %></a>
          <% else %>
            <a href="#" onclick="javascript: window.location.reload(); window.location.href = '/#/sentences/<%= p.exam_sentences.first.id %>'"><%= p.name %></a>
          <% end %>
        </h4>

        <% p.sentences.each do |s| %>
          <span class="span2"><a href="http://www.123teachme.com/spanish_verb_conjugation/<%= s.verb %>" class="black" target="_blank"><%= s.verb %></a></span>
        <% end %>
      </div>
    <% end %>

  </div>
</div>