<%= render 'menus', :lessons => @lessons %>

<div class="row">
  <div class="row-fluid">
    
    <% @practices.each do |practice| %>
      <div class="span8" style="margin: 0px 0px 20px 9px;">
        <h4>
        <a href="#" onclick="javascript: window.location.reload(); window.location.href = '/#/sentences/<%= @practices.first.sentences.first.id %>'"><%= practice.name %></a>
        </h4>

        <% practice.sentences.each do |s| %>
          <span class="span2"><a href="http://www.123teachme.com/spanish_verb_conjugation/<%= s.verb %>" class="black" target="_blank"><%= s.verb %></a></span>
        <% end %>
      </div>
    <% end %>

  </div>
</div>