<%= render 'admin/lessons/menus', :lessons => @lessons %>

<div class="span8">
  <h4><%= @practice.lesson.name %> / <%= @practice.name %></h4>
  <div class="well form-actions">
    <p>Create Sentence</p>
    <%= simple_form_for Sentence.new, :url => "/admin/practices/#{@practice.id}/sentences" do |f| %>
      <div class="form-inputs">
        <%= f.input :verb, :input_html => { :class => "span3" } %>
        <%= f.input :subject, :input_html => { :class => "span7" } %>
      </div>

      <%= f.button :submit, :value => 'Save' %>
    <% end %>
  </div>


  <div class="row-fluid">
    <h4>Sentences</h4>
    <% @practice.sentences.each do |s| %>
      <div class="row-fluid">
        <span class="span10"><%= s.subject %></span>
        <span class="span1">
          <%= link_to 'X', "/admin/sentences/#{s.id}", :method => :delete, :confirm => "Remove '#{s.subject}' ?" %>
        </span>
      </div>

      <div class="well form-actions">
        <form action="/admin/sentences/<%= s.id %>/sentence_translations" method="post">
          <input type="text" name="sentence_translation[subject]" class="span10" />
          <input type="submit" name="submit" value="Save" />
        </form>

        <div class="row-fluid">
          <% s.translations.each do |t| %>
            <div class="row-fluid">
              <span class="span10"><%= t.subject %></span>
              <span class="span1">
                <%= link_to 'X', "/admin/sentence_translations/#{t.id}/", :method => :delete, :confirm => "Remove '#{t.subject}' ?" %>
              </span>
            </div>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>

  

</div>